{% macro mol3d_viewer(container_id, file_data='', file_format= '', classes='') %}

<div id="{{ container_id }}" class="w-[320px] h-[240px] lg:w-[480px] lg:h-[320px] z-10 {{ classes }}"></div>

<script type="text/javascript">
    const element = document.getElementById('{{ container_id }}');
    const config = { backgroundColor: 'white' };
    
    const viewer = $3Dmol.createViewer(element, config);

    const fileDataArray = {{ file_data | tojson }};
    const fileFormatArray = {{ file_format | tojson }};

    fileDataArray.forEach((data, index) => {
        const format = fileFormatArray[index];
        viewer.addModel(data, format);
        viewer.setStyle({}, { cartoon: { color: 'spectrum' } }); 
    });

    viewer.zoomTo();
    viewer.render();
</script>

{% endmacro %}