{% macro molstar_viewer(container_id, file_data='', file_format= '', classes='') %}
<div id="{{ container_id }}" class="w-1/2 {{ classes }}"></div>

<script type="text/javascript">
    molstar.Viewer.create('{{container_id}}', {
        layoutIsExpanded: false,
        layoutShowControls: true,
        layoutShowRemoteState: false,
        layoutShowSequence: true,
        layoutShowLog: false,
        layoutShowLeftPanel: true,

        viewportShowExpand: true,
        viewportShowSelectionMode: false,
        viewportShowAnimation: false,

        pdbProvider: 'rcsb',
        emdbProvider: 'rcsb',
    }).then(viewer => {
        const fileDataArray = {{ file_data | tojson }};
        const fileFormatArray = {{ file_format | tojson }};

        let loadPromise = Promise.resolve();

        fileDataArray.forEach((data, index) => {
            const format = fileFormatArray[index];

            loadPromise = loadPromise.then(() => {
                return viewer.loadStructureFromData(data, format);
            });
        });

        loadPromise.then(() => {
            viewer.autoView();
        });
    });
</script>
{% endmacro %}