{% macro molstar_viewer(container_id, urls=[], file_format= '', classes='') %}
<div
  id="{{ container_id }}"
  class="h-full min-h-0 w-full min-w-0 {{ classes }}"
></div>

<script type="text/javascript">
    molstar.Viewer.create('{{container_id}}', {
        layoutIsExpanded: false,
        layoutShowControls: false,
        layoutShowRemoteState: false,
        layoutShowSequence: true,
        layoutShowLeftPanel: true,
        layoutShowLog: false,
        viewportShowExpand: true,
        viewportShowSelectionMode: true,
        viewportShowAnimation: false,
        pdbProvider: 'rcsb',
        emdbProvider: 'rcsb',
    }).then(async viewer => {
        const plugin = viewer.plugin; 
        const urlArray = {{ urls | tojson }};
        const fileFormatArray = Array.isArray({{ file_format | tojson }}) ? {{ file_format | tojson }} : [{{ file_format | tojson }}];

        for (let i = 0; i < urlArray.length; i++) {
            const url = urlArray[i];
            const format = fileFormatArray[i] || fileFormatArray[0] || 'pdb';

            const data = await plugin.builders.data.download({ url: url }, { state: { isGhost: true } });
            const trajectory = await plugin.builders.structure.parseTrajectory(data, format);
            const model = await plugin.builders.structure.createModel(trajectory);
            const structure = await plugin.builders.structure.createStructure(model);

            const props = {
                type: 'ball-and-stick',
                typeParams: {}
            };

            if (i === 1) {
                props.typeParams.excludeTypes = ['computed'];
            }

            await plugin.builders.structure.representation.addRepresentation(structure, props);
        }

        viewer.autoView();
    });
</script>
{% endmacro %}