@import "tailwindcss";
@source "./templates";


@theme {
    --color-primary: #212D40;
    --color-secondary: #11151C;
    --color-danger: #E02424; 
    --color-focus: #B182E3; 
}

.btn {
    @apply py-3 bg-primary hover:cursor-pointer text-white font-semibold rounded-xl shadow-md transition transform duration-300 ease-in-out hover:bg-secondary hover:scale-[1.02];
}