[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
jinja2 = "==3.1.6"

[dev-packages]
pytest = "==8.3.5"
djlint = "*"
isort = "*"
ruff = "*"
mypy = "*"
pytest-playwright = "*"

[requires]
python_version = "3.12"
