[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
jinja2 = "==3.1.6"
httpx = "*"
gemmi = "*"

[dev-packages]
playwright = "*"
pytest = "==8.3.5"
djlint = "*"
ruff = "*"
mypy = "*"
pytest-playwright = "*"
isort = "*"
pytest-httpx = "*"
uvicorn = "*"

[requires]
python_version = "3.12"
