{% from 'components/macros/input_field.html' import input_field %}
<div class="space-y-1">
    <div class="flex items-center justify-between">
        <label class="text-sm font-medium text-primary ml-1">Optional Selection</label>
    </div>
    <div class="grid grid-cols-2 gap-4 ml-1 mr-1">
        <div class="space-y-1">
            {{ input_field(model='chains',
                        label='Chains',
                        placeholder='e.g. A, B', name="chains") }}
            <p class="text-xs text-primary/40">Leave empty for all chains</p>
        </div>
        <div class="space-y-1">
            {{ input_field(model='models',
                        label='Models',
                        placeholder='e.g. 1, 2',
                        name="models",) }}
            <p class="text-xs text-primary/40">Leave empty for all models</p>
        </div>
    </div>
</div>
