<footer>
  <ul
    class="flex flex-col py-1 items-center text-sm text-tertiary bg-tertiary-light"
  >
    <li>
      <a
        href="https://put.poznan.pl/en"
        target="_blank"
        class="flex items-center gap-2"
      >
        <img
          src="/static/images/logo-pp.svg"
          alt="Poznan University of Technology Logo"
          width="60"
          height="60"
        />
        <span>
          Institute of Computing Science Poznan University of Technology
        </span>
      </a>
    </li>
  </ul>
</footer>
