<footer class="bg-tertiary-light shrink-0">
  <div
    class="max-w-7xl mx-auto px-6 flex flex-wrap items-center justify-center gap-x-8 gap-y-2 h-12 text-xs text-tertiary"
  >
    <a
      href="https://put.poznan.pl/en"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Poznan University of Technology website"
      class="flex items-center gap-2 hover:text-primary transition-colors"
    >
      <img
        src="/static/images/logo-pp.svg"
        alt="Poznan University of Technology Logo"
        width="36"
        height="36"
        class="w-9 h-9 object-contain"
      />
      <span class="leading-tight">
        Institute of Computing Science,<br />
        Poznan University of Technology
      </span>
    </a>

  <a
    href="https://github.com/MihaKon/RNA_Grainy_App"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="RNAgrainy repository on GitHub"
    class="inline-flex items-center gap-2 hover:text-primary transition-colors"
  >
    <i class="fa-brands fa-github justify-content text-2xl"></i>
    <span class="leading-tight">GitHub</span>
  </a>
  </div>
</footer>
