<nav class="relative bg-primary">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <!-- -->
      <!-- Here add logic for mobile view-->
      <!-- -->
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <a href="/" class="flex shrink-0 items-center">
          <i class="fa-solid fa-dna fa-2xl" style="color: #ffffff;"></i>
          <h1 class="text-white text-xl font-semibold">RNA Grain</h1>
        </a>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Here add menu buttons-->
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
