<div x-show="activeTab === 'beads'" class="space-y-6">
  {% include 'components/creator/infobox.html' %}
  <div>
    <label class="block text-sm font-medium text-primary mb-2"
      >Model Name</label
    >
    <input
      type="text"
      x-model="modelName"
      class="w-full border rounded-lg px-3 py-2 focus:ring-2 focus:ring-focus outline-none"
    />
  </div>

  <div>
    <label class="block text-sm font-medium text-primary mb-2"
      >Model Description</label
    >
    <input
      type="text"
      x-model="modelDescription"
      class="w-full border rounded-lg px-3 py-2 focus:ring-2 focus:ring-focus outline-none"
    />
  </div>

  <div class="space-y-4">
    <div class="flex justify-between items-center">
      <h3 class="font-semibold text-primary">Beads List</h3>
      <button
        type="button"
        @click="addBead()"
        class="cursor-pointer text-accent text-sm font-medium hover:underline hover:underline-offset-2"
      >
        + Add Bead
      </button>
    </div>

    <template x-for="(bead, index) in beads" :key="index">
      <div
        class="border border-tertiary-light rounded-xl p-4 bg-white relative group hover:border-primary/10 transition-colors shadow-sm"
      >
        <button
          type="button"
          @click="removeBead(index)"
          class="cursor-pointer absolute top-2 right-2 text-tertiary hover:text-danger z-10"
        >
          <i class="fa-solid fa-times"></i>
        </button>

        <div class="grid grid-cols-3 gap-4 mb-4">
          <div>
            <label class="text-xs font-semibold text-primary uppercase"
              >Bead ID</label
            >
            <input
              type="text"
              x-model="bead.beadID"
              class="w-full text-sm border-b bg-transparent focus:border-accent outline-none py-1"
            />
          </div>
          <div>
            <label class="text-xs font-semibold text-primary uppercase"
              >Bead Name</label
            >
            <input
              type="text"
              x-model="bead.name"
              class="w-full text-sm border-b bg-transparent focus:border-accent outline-none py-1"
            />
          </div>
          <div>
            <label class="text-xs font-semibold text-primary uppercase"
              >Strategy</label
            >

            <select
              x-model="bead.strategy"
              x-on:change="bead.atoms = []"
              class="w-full text-sm bg-transparent border-b outline-none cursor-pointer py-1"
            >
              <template x-for="option in STRATEGY_OPTIONS" :key="option.value">
                <option :value="option.value" x-text="option.label"></option>
              </template>
            </select>
          </div>
        </div>

        <div>
          <label class="text-xs font-semibold text-primary uppercase"
            >Bead Description</label
          >
          <input
            type="text"
            x-model="bead.description"
            class="w-full text-sm border-b bg-transparent focus:border-accent outline-none py-1"
          />
        </div>
        <div class="mb-3 py-4 ">
          <label class="text-xs font-semibold text-primary uppercase block mb-1"
            >Apply to</label
          >
          <div class="flex flex-wrap gap-1">
            <template x-for="scope in SCOPE_OPTIONS" :key="scope.value">
              <button
                type="button"
                @click="bead.scope = scope.value"
                x-on:click="bead.atoms = []"
                :class="bead.scope === scope.value ? 'bg-secondary text-white' : 'bg-tertiary-light text-primary hover:bg-accent-light'"
                class="cursor-pointer px-2 py-1 rounded transition-colors text-xs"
              >
                <span x-text="scope.label"></span>
              </button>
            </template>
          </div>
        </div>

        <div>
          <label class="text-xs font-semibold text-primary uppercase block mb-2"
            >Select Atoms</label
          >
          <div class="flex flex-wrap gap-1.5">
            <template x-for="atom in getAtomsForScope(bead.scope)" :key="atom">
              <button
                type="button"
                @click="toggleAtom(bead, atom)"
                class="cursor-pointer px-2 py-1 text-xs border rounded transition-colors select-none"
                :class="bead.atoms.includes(atom) ? 'bg-accent/10 border-accent text-accent font-bold' : 'bg-white border-tertiary-light text-primary hover:bg-accent-light'"
                x-text="atom"
              ></button>
            </template>
          </div>

          <p
            x-show="bead.strategy === 'direct'"
            class="text-xs text-primary mt-1 flex items-center gap-1"
          >
            <i class="fa-solid fa-circle-info"></i> Direct mapping allows 1
            atom.
          </p>
          <p
            x-show="bead.atoms.length === 0"
            class="text-xs text-danger mt-1 font-bold"
          >
            Select at least one atom.
          </p>
        </div>
      </div>
    </template>
  </div>
</div>
