<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RNAgrainy</title>
    <meta name="description" content="RNAgrainy - A framework for coarse-graining RNA structures" />
    <meta name="keywords" content="RNA, Coarse Grain, Simulation, Analysis" />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', path='/images/rna-grainy-logo.png') }}"
    />
    <script
      src="https://kit.fontawesome.com/5ad53bb2b8.js"
      crossorigin="anonymous"
    ></script>
    <link href="{{ url_for('static',path='/css/app.css') }}" rel="stylesheet" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"
      integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx-ext-response-targets@2.0.4"
      integrity="sha384-T41oglUPvXLGBVyRdZsVRxNWnOOqCynaPubjUVjxhsjFTKrFJGEMm3/0KGmNQ+Pg"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/molstar@latest/build/viewer/molstar.js"></script>
    <script
    defer
    src="{{ url_for('static', path='/js/comparison/molstar_viewer.js') }}"
  ></script>

  <script
    defer
    src="{{ url_for('static', path='/js/comparison/comparison_controller.js') }}"
  ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/molstar@latest/build/viewer/molstar.css"
    />
  </head>
  <body class="min-h-dvh  flex flex-col" hx-ext="response-targets">
    {% include "partials/navbar.html" %}
    <main class="flex flex-1 min-h-0 justify-center lg:overflow-y-auto">
      {% block content %}{% endblock %}
    </main>
    {% include "partials/footer.html" %} {% block scripts %} {% endblock scripts
    %}
  </body>
</html>
